##DATA TRANSFORMATION

In [1]:
from pyspark.sql import SparkSession, DataFrame, Window, functions as F
from pyspark.sql.functions import when, col, lower, regexp_replace
from google.colab import drive

**PEMBUATAN SESI SPARK**

In [4]:
spark = SparkSession.builder.appName('yelp review').getOrCreate()

cells ini berfungsi sebagai titik awal untuk menggunakan semua fitur Spark seperti membaca data dan melakukan transformasi.

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

**LOADING DATASET**

In [ ]:
df_review = spark.read.json('drive/MyDrive/Yelp_review/Yelp-Extracted/yelp_academic_dataset_review.json')

In [ ]:
df_business = spark.read.json('drive/MyDrive/Yelp_review/Yelp-Extracted/yelp_academic_dataset_business.json')

In [ ]:
df_checkin = spark.read.json('drive/MyDrive/Yelp_review/Yelp-Extracted/yelp_academic_dataset_checkin.json')

In [ ]:
df_tip = spark.read.json('drive/MyDrive/Yelp_review/Yelp-Extracted/yelp_academic_dataset_tip.json')

In [ ]:
df_user = spark.read.json('drive/MyDrive/Yelp_review/Yelp-Extracted/yelp_academic_dataset_user.json')

**PENUNJUKAN DATASET**

In [ ]:
df_review.show(5)
df_business.show(5)
df_checkin.show(5)
df_tip.show(5)
df_user.show(5)

+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|         business_id|cool|               date|funny|           review_id|stars|                text|useful|             user_id|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|XQfwVwDr-v0ZS3_Cb...|   0|2018-07-07 22:09:11|    0|KU_O5udG6zpxOg-Vc...|  3.0|If you decide to ...|     0|mh_-eMZ6K5RLWhZyI...|
|7ATYjTIgM3jUlt4UM...|   1|2012-01-03 15:28:18|    0|BiTunyQ73aT9WBnpR...|  5.0|I've taken a lot ...|     1|OyoGAe7OKpv6SyGZT...|
|YjUWPpI6HXG530lwP...|   0|2014-02-05 20:30:30|    0|saUsX_uimxRlCVr67...|  3.0|Family diner. Had...|     0|8g_iMtfSiwikVnbP2...|
|kxX2SOes4o-D3ZQBk...|   1|2015-01-04 00:01:03|    0|AqPFMleE6RsU23_au...|  5.0|Wow!  Yummy, diff...|     1|_7bHUi9Uuf5__HHc_...|
|e4Vwtrqf-wpJfwesg...|   1|2017-01-14 20:54:15|    0|Sx8TMOWLNuJBWer-0...|  4.0|Cute interior and...|     1|bcjbaE6dDog4jkNY9...|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
only showing top 5 rows

+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|         city|               hours|is_open|  latitude|   longitude|                name|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+
|1616 Chapala St, ...|{NULL, NULL, NULL...|Pns2l4eNsfO8kk83d...|Doctors, Traditio...|Santa Barbara|                NULL|      0|34.4266787|-119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|87 Grasso Plaza S...|{NULL, NULL, NULL...|mpf3x-BjTdTEA3yCZ...|Shipping Centers,...|       Affton|{8:0-18:30, 0:0-0...|      1| 38.551126|  -90.335695|       The UPS Store|      63123|          15|  3.0|   MO|
|5255 E Broadway Blvd|{NULL, NULL, NULL...|tUFrWirKiKi_TAnsV...|Department Stores...|       Tucson|{8:0-23:0, 8:0-22...|      0| 32.223236| -110.880452|              Target|      85711|          22|  3.5|   AZ|
|         935 Race St|{NULL, NULL, u'no...|MTSW4McQd7CbVtyjq...|Restaurants, Food...| Philadelphia|{7:0-21:0, 7:0-20...|      1|39.9555052| -75.1555641|  St Honore Pastries|      19107|          80|  4.0|   PA|
|       101 Walnut St|{NULL, NULL, NULL...|mWMc6_wTdE0EUBKIG...|Brewpubs, Breweri...|   Green Lane|{12:0-22:0, NULL,...|      1|40.3381827| -75.4716585|Perkiomen Valley ...|      18054|          13|  4.5|   PA|
+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+
only showing top 5 rows

+--------------------+--------------------+
|         business_id|                date|
+--------------------+--------------------+
|---kPU91CF4Lq2-Wl...|2020-03-13 21:10:...|
|--0iUa4sNDFiZFrAd...|2010-09-13 21:43:...|
|--30_8IhuyMHbSOcN...|2013-06-14 23:29:...|
|--7PUidqRWpRSpXeb...|2011-02-15 17:12:...|
|--7jw19RH9JKXgFoh...|2014-04-21 20:42:...|
+--------------------+--------------------+
only showing top 5 rows

+--------------------+----------------+-------------------+--------------------+--------------------+
|         business_id|compliment_count|               date|                text|             user_id|
+--------------------+----------------+-------------------+--------------------+--------------------+
|3uLgwr0qeCNMjKenH...|               0|2012-05-18 02:17:21|Avengers time wit...|AGNUgVwnZUey3gcPC...|
|QoezRbYQncpRqyrLH...|               0|2013-02-05 18:35:10|They have lots of...|NBN4MgHP9D3cw--Sn...|
|MYoRNLb5chwjQe3c_...|               0|2013-08-18 00:56:08|It's open even wh...|-copOvldyKh1qr-vz...|
|hV-bABTK-glh5wj31...|               0|2017-06-27 23:05:38|Very decent fried...|FjMQVZjSqY8syIO-5...|
|_uN0OudeJ3Zl_tf6n...|               0|2012-10-06 19:43:09|Appetizers.. plat...|ld0AperBXk1h6Ubqm...|
+--------------------+----------------+-------------------+--------------------+--------------------+
only showing top 5 rows

+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+-----+--------------------+----+--------------------+-----+------+------------+------+--------------------+-------------------+
|average_stars|compliment_cool|compliment_cute|compliment_funny|compliment_hot|compliment_list|compliment_more|compliment_note|compliment_photos|compliment_plain|compliment_profile|compliment_writer| cool|               elite|fans|             friends|funny|  name|review_count|useful|             user_id|      yelping_since|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+-----+--------------------+----+--------------------+-----+------+------------+------+--------------------+-------------------+
|         3.91|            467|             56|             467|           250|             18|             65|            232|              180|             844|                55|              239| 5994|                2007| 267|NSCy54eWehBJyZdG2...| 1259|Walker|         585|  7217|qVc8ODYU5SZjKXVBg...|2007-01-25 16:47:26|
|         3.74|           3131|            157|            3131|          1145|            251|            264|           1847|             1946|            7054|               184|             1521|27281|2009,2010,2011,20...|3138|ueRPE0CX75ePGMqOF...|13066|Daniel|        4333| 43091|j14WgRoU_-2ZE1aw1...|2009-01-25 04:35:42|
|         3.32|            119|             17|             119|            89|              3|             13|             66|               18|              96|                10|               35| 1003|2009,2010,2011,20...|  52|LuO3Bn4f3rlhyHIaN...| 1010| Steph|         665|  2086|2WnXYQFK0hXEoTxPt...|2008-07-25 10:41:00|
|         4.27|             26|              6|              26|            24|              2|              4|             12|                9|              16|                 1|               10|  299|      2009,2010,2011|  28|enx1vVPnfdNUdPho6...|  330|  Gwen|         224|   512|SZDeASXq7o05mMNLs...|2005-11-29 04:38:33|
|         3.54|              0|              0|               0|             1|              0|              1|              1|                0|               1|                 0|                0|    7|                    |   1|PBK4q9KEEBHhFvSXC...|   15| Karen|          79|    29|hA5lMy-EnncsH4JoR...|2007-01-05 19:40:59|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+-----+--------------------+----+--------------------+-----+------+------------+------+--------------------+-------------------+
only showing top 5 rows

In [ ]:
df_review.printSchema()
df_business.printSchema()
df_checkin.printSchema()
df_tip.printSchema()
df_user.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

root
 |-- business_id: string (nullable = true)
 |-- date: string (nullable = true)

root
 |-- business_id: string (nullable = true)
 |-- compliment_count: long (nullable = true)
 |-- date: string (nullable = true)
 |-- text: string (nullable = true)
 |-- user_id: string (nullable = true)

root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- elite: string (nullable = true)
 |-- fans: long (nullable = true)
 |-- friends: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: string (nullable = true)

##TRANSFORMATION DATASET

In [ ]:
# Join reviews with businesses
df_join = df_review.join(df_business, on="business_id", how="left")

# Join with users
df_join = df_join.join(df_user, on="user_id", how="left")

# Join with checkins
df_join = df_join.join(df_checkin, on="business_id", how="left")

# Join with tips
df_join = df_join.join(df_tip, on=["business_id", "user_id"], how="left")

df_join.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- elite: string (nullable = true)
 |-- fans: long (nullable = true)
 |-- friends: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- useful: long (nullable = true)
 |-- yelping_since: string (nullable = true)
 |-- date: string (nullable = true)
 |-- compliment_count: long (nullable = true)
 |-- date: string (nullable = true)
 |-- text: string (nullable = true)

cells ini menggabungkan beberapa dataset dari review, bisnis, user, check-in, dan tip, menggunakan left join berdasarkan ID yang sama. Hasilnya adalah satu DataFrame lengkap yang berisi semua informasi terkait.

In [ ]:
df_join.show(5)

+--------------------+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+--------------------+--------------------+------------+--------------------+-------+----------+-----------+--------------------+-----------+------------+-----+-----+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+------+--------------------+----+--------------------+------+-------+------------+------+-------------------+--------------------+----------------+----+----+
|         business_id|             user_id|cool|               date|funny|           review_id|stars|                text|useful|             address|          attributes|          categories|        city|               hours|is_open|  latitude|  longitude|                name|postal_code|review_count|stars|state|average_stars|compliment_cool|compliment_cute|compliment_funny|compliment_hot|compliment_list|compliment_more|compliment_note|compliment_photos|compliment_plain|compliment_profile|compliment_writer|  cool|               elite|fans|             friends| funny|   name|review_count|useful|      yelping_since|                date|compliment_count|date|text|
+--------------------+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+--------------------+--------------------+------------+--------------------+-------+----------+-----------+--------------------+-----------+------------+-----+-----+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+------+--------------------+----+--------------------+------+-------+------------+------+-------------------+--------------------+----------------+----+----+
|-99CauTgdResVER5N...|Ird9MT5P8ifqEKeJp...|   0|2014-07-26 00:35:21|    0|ZKAD5_Z56GhTxK4rf...|  3.0|Some of the drive...|     0|    7940 Michigan Rd|{NULL, NULL, u'no...|Pizza, Chicken Wi...|Indianapolis|{10:30-1:0, 10:30...|      1|39.8978377|-86.2172076|      Domino's Pizza|      46268|          32|  1.5|   IN|         3.11|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|     0|                    |   0|OsWTm2KNm-7BrwQwp...|     1|   Debi|           6|     4|2013-09-16 12:33:58|2012-05-30 15:36:...|            NULL|NULL|NULL|
|-AxGGm4yvhedkmN1g...|B0vJtiBvhs-ulfLER...|   0|2016-02-29 00:09:50|    0|sL29eWWhV68YZTm2n...|  3.0|Typical fast food...|     0| 150 Salem Church Rd|{NULL, NULL, u'no...|Chinese, Restaurants|      Newark|{11:0-22:30, 11:0...|      1|39.6677815|-75.6952625|        Ming Kitchen|      19713|          14|  2.5|   DE|          3.5|              0|              0|               0|             0|              0|              1|              0|                0|               0|                 0|                0|     1|                    |   0|hooSpRiSjG6p_75hW...|     1|  Amber|          10|     0|2016-01-10 23:00:50|2012-12-22 01:15:...|            NULL|NULL|NULL|
|-e9MepGs8piOYdwuP...|z1hbssfhvQCKF1Yd4...|   1|2015-08-05 02:59:54|    0|HXp5PP4qS9R2MTsU0...|  5.0|Great, safe space...|     1|     2321 Arsenal St|{NULL, NULL, u'fu...|Music Venues, Ame...| Saint Louis|{17:0-1:0, NULL, ...|      0| 38.599064| -90.223947|Lilly's Music & S...|      63118|          15|  4.5|   MO|         3.38|              0|              0|               0|             0|              0|              0|              0|                0|               2|                 0|                0|     9|                    |   0|yyoBPpHCpuLDoLk6Z...|    11|Crystal|          34|    50|2010-06-18 17:18:42|2015-07-30 01:58:...|            NULL|NULL|NULL|
|-3e3CP3FFc-rvJj_-...|--2vR0DIsmQ6WfcSz...| 102|2015-02-19 05:08:44|   95|m3QNG3Ni7--EsiFv3...|  4.0|Da uns der erste ...|   105|601 N Christopher...|{NULL, NULL, u'no...|Arts & Entertainm...|Philadelphia|                NULL|      1|39.9600237|-75.1371563|      Penn's Landing|      19106|          80|  3.5|   PA|         4.18|          23476|           1277|           23476|         12073|           1096|           2986|           4751|            28205|           24260|              3144|             8607|199878|2013,2014,2015,20...| 880|I0OmbiekW2dhHVczV...|173096| Harald|        1534|205765|2012-11-27 14:19:33|2010-07-02 23:27:...|            NULL|NULL|NULL|
|-KNgMklrxgRX2-T6x...|fLRkVwyKb2qQpOSGR...|   0|2018-02-01 22:18:28|    0|NBn9UqKjChpvS-zS9...|  3.0|Love the pizza he...|     0|710 Stewarts Ferr...|{NULL, NULL, u'be...|Italian, Salad, R...|   Nashville|{11:0-22:0, 11:0-...|      1|36.1531169|-86.6261225|         Sal's Pizza|      37214|         150|  3.5|   TN|          4.6|              0|              0|               0|             0|              0|              0|              0|                0|               0|                 0|                0|     0|                    |   0|s1WDRms7FcXVSgSzh...|     0|    Dee|           5|     0|2012-03-06 23:29:17|2010-08-07 16:56:...|            NULL|NULL|NULL|
+--------------------+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+--------------------+--------------------+------------+--------------------+-------+----------+-----------+--------------------+-----------+------------+-----+-----+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+------+--------------------+----+--------------------+------+-------+------------+------+-------------------+--------------------+----------------+----+----+
only showing top 5 rows

In [ ]:
df_join.count()

7103760

In [ ]:
df_business.count()

150346

In [ ]:
df_review.count()

6990280

In [ ]:
df_review = df_review.withColumnRenamed("stars", "review_stars")
df_business = df_business.withColumnRenamed("stars", "business_stars")

joined_df = df_review.join(df_business, on="business_id", how="inner")

joined_df.select(
    "review_id",
    "user_id",
    "review_stars",
    "text",
    "name",
    "city",
    "categories",
    "business_stars",
    "review_count",
    "is_open"
).show(10, truncate=True)

print("Joined row count:", joined_df.count())

+--------------------+--------------------+------------+--------------------+-----------------+---------------+--------------------+--------------+------------+-------+
|           review_id|             user_id|review_stars|                text|             name|           city|          categories|business_stars|review_count|is_open|
+--------------------+--------------------+------------+--------------------+-----------------+---------------+--------------------+--------------+------------+-------+
|hoLKem4XpXGt_X4li...|415SXXbQrl2-VudHa...|         4.0|Ate here for the ...|Frankie's Raw Bar|New Port Richey|Seafood, Restaura...|           4.5|          24|      1|
|gzXaxjjTnrJJuG_gq...|ey8tdgUgC2tFqw2df...|         5.0|Absolutely fantas...|Frankie's Raw Bar|New Port Richey|Seafood, Restaura...|           4.5|          24|      1|
|cpyLQlML0idHzCsCi...|wNo_joX2evLhIYE4h...|         3.0|I was sadly disap...|Frankie's Raw Bar|New Port Richey|Seafood, Restaura...|           4.5|          24|      1|
|9j7uG9sA5WU7yraCQ...|nRy6-tnPPeShNhZg9...|         5.0|Great new local s...|Frankie's Raw Bar|New Port Richey|Seafood, Restaura...|           4.5|          24|      1|
|ROpgxHN-NOZ3zSFMZ...|V8oYXtc0hMuYzG5Hf...|         3.0|This is a food tr...|Frankie's Raw Bar|New Port Richey|Seafood, Restaura...|           4.5|          24|      1|
|rljdEt4_jgsqOgG-7...|qrCkKrEwQ-q9m1iWS...|         5.0|Great place for g...|Frankie's Raw Bar|New Port Richey|Seafood, Restaura...|           4.5|          24|      1|
|JnfAi8vz8lcN63lvf...|UmQDlaIjLiPBZ7M6U...|         5.0|Blown away how fu...|Frankie's Raw Bar|New Port Richey|Seafood, Restaura...|           4.5|          24|      1|
|XawsDBeNXlT_rRivc...|5jlO2REcgB6GKFeSs...|         5.0|Never would have ...|Frankie's Raw Bar|New Port Richey|Seafood, Restaura...|           4.5|          24|      1|
|7dFBRid1QdCCr2PNs...|w2SrX4cPZqykJ5P7U...|         5.0|Finale a local Fr...|Frankie's Raw Bar|New Port Richey|Seafood, Restaura...|           4.5|          24|      1|
|38jzE6n8lbnvSM7p6...|7F5NSUrKYEPdrewd2...|         5.0|EVERYTHING we had...|Frankie's Raw Bar|New Port Richey|Seafood, Restaura...|           4.5|          24|      1|
+--------------------+--------------------+------------+--------------------+-----------------+---------------+--------------------+--------------+------------+-------+
only showing top 10 rows

Joined row count: 6990280

code cells ini mengganti nama kolom stars di dataset review dan bisnis agar tidak membingungkan, setelah itu dilakukan inner join berdasarkan business_id

In [ ]:
joined_df.select('categories','name','business_stars','review_stars','text').show(5)

+--------------------+--------------------+--------------+------------+--------------------+
|          categories|                name|business_stars|review_stars|                text|
+--------------------+--------------------+--------------+------------+--------------------+
|Restaurants, Brea...|Turning Point of ...|           3.0|         3.0|If you decide to ...|
|Active Life, Cycl...|Body Cycle Spinni...|           5.0|         5.0|I've taken a lot ...|
|Restaurants, Brea...|   Kettle Restaurant|           3.5|         3.0|Family diner. Had...|
|Halal, Pakistani,...|               Zaika|           4.0|         5.0|Wow!  Yummy, diff...|
|Sandwiches, Beer,...|                Melt|           4.0|         4.0|Cute interior and...|
+--------------------+--------------------+--------------+------------+--------------------+
only showing top 5 rows

In [ ]:
df_restaurants = joined_df.filter(F.col("categories").rlike("(?i).*restaurant.*"))

code cells ini memfilter data hasil join agar hanya menampilkan bisnis yang berhubungan dengan restoran, mengunakan wildcard dengan regular expression yang tidak peka huruf besar-kecil untuk mencocokkan kategori yang mengandung kata “restaurant”, karena terdapat banyak variasi nama kategori.

In [ ]:
df_restaurants.select('categories').distinct().show(5)

+--------------------+
|          categories|
+--------------------+
|Mediterranean, Fo...|
|Seafood, Restaura...|
|Restaurants, Comf...|
|Restaurants, Crep...|
|Specialty Food, F...|
+--------------------+
only showing top 5 rows

In [ ]:
df_restaurants.show(10)

+--------------------+----+-------------------+-----+--------------------+------------+--------------------+------+--------------------+----------------+--------------------+--------------------+---------------+--------------------+-------+----------+-----------+-----------------+-----------+------------+--------------+-----+
|         business_id|cool|               date|funny|           review_id|review_stars|                text|useful|             user_id|         address|          attributes|          categories|           city|               hours|is_open|  latitude|  longitude|             name|postal_code|review_count|business_stars|state|
+--------------------+----+-------------------+-----+--------------------+------------+--------------------+------+--------------------+----------------+--------------------+--------------------+---------------+--------------------+-------+----------+-----------+-----------------+-----------+------------+--------------+-----+
|---kPU91CF4Lq2-Wl...|   0|2020-08-09 19:19:16|    0|hoLKem4XpXGt_X4li...|         4.0|Ate here for the ...|     0|415SXXbQrl2-VudHa...|4903 State Rd 54|{NULL, NULL, u'no...|Seafood, Restaura...|New Port Richey|{11:0-22:0, 0:0-0...|      1|28.2172884|-82.7333444|Frankie's Raw Bar|      34652|          24|           4.5|   FL|
|---kPU91CF4Lq2-Wl...|   0|2020-09-05 20:09:03|    0|gzXaxjjTnrJJuG_gq...|         5.0|Absolutely fantas...|     0|ey8tdgUgC2tFqw2df...|4903 State Rd 54|{NULL, NULL, u'no...|Seafood, Restaura...|New Port Richey|{11:0-22:0, 0:0-0...|      1|28.2172884|-82.7333444|Frankie's Raw Bar|      34652|          24|           4.5|   FL|
|---kPU91CF4Lq2-Wl...|   0|2020-06-13 22:03:50|    0|cpyLQlML0idHzCsCi...|         3.0|I was sadly disap...|     0|wNo_joX2evLhIYE4h...|4903 State Rd 54|{NULL, NULL, u'no...|Seafood, Restaura...|New Port Richey|{11:0-22:0, 0:0-0...|      1|28.2172884|-82.7333444|Frankie's Raw Bar|      34652|          24|           4.5|   FL|
|---kPU91CF4Lq2-Wl...|   0|2020-02-11 00:30:51|    0|9j7uG9sA5WU7yraCQ...|         5.0|Great new local s...|     0|nRy6-tnPPeShNhZg9...|4903 State Rd 54|{NULL, NULL, u'no...|Seafood, Restaura...|New Port Richey|{11:0-22:0, 0:0-0...|      1|28.2172884|-82.7333444|Frankie's Raw Bar|      34652|          24|           4.5|   FL|
|---kPU91CF4Lq2-Wl...|   1|2021-03-06 01:39:34|    0|ROpgxHN-NOZ3zSFMZ...|         3.0|This is a food tr...|     1|V8oYXtc0hMuYzG5Hf...|4903 State Rd 54|{NULL, NULL, u'no...|Seafood, Restaura...|New Port Richey|{11:0-22:0, 0:0-0...|      1|28.2172884|-82.7333444|Frankie's Raw Bar|      34652|          24|           4.5|   FL|
|---kPU91CF4Lq2-Wl...|   0|2020-03-18 01:34:18|    0|rljdEt4_jgsqOgG-7...|         5.0|Great place for g...|     2|qrCkKrEwQ-q9m1iWS...|4903 State Rd 54|{NULL, NULL, u'no...|Seafood, Restaura...|New Port Richey|{11:0-22:0, 0:0-0...|      1|28.2172884|-82.7333444|Frankie's Raw Bar|      34652|          24|           4.5|   FL|
|---kPU91CF4Lq2-Wl...|   1|2020-12-12 17:48:38|    0|JnfAi8vz8lcN63lvf...|         5.0|Blown away how fu...|     1|UmQDlaIjLiPBZ7M6U...|4903 State Rd 54|{NULL, NULL, u'no...|Seafood, Restaura...|New Port Richey|{11:0-22:0, 0:0-0...|      1|28.2172884|-82.7333444|Frankie's Raw Bar|      34652|          24|           4.5|   FL|
|---kPU91CF4Lq2-Wl...|   0|2020-02-20 00:50:49|    0|XawsDBeNXlT_rRivc...|         5.0|Never would have ...|     1|5jlO2REcgB6GKFeSs...|4903 State Rd 54|{NULL, NULL, u'no...|Seafood, Restaura...|New Port Richey|{11:0-22:0, 0:0-0...|      1|28.2172884|-82.7333444|Frankie's Raw Bar|      34652|          24|           4.5|   FL|
|---kPU91CF4Lq2-Wl...|   1|2020-09-26 20:42:25|    0|7dFBRid1QdCCr2PNs...|         5.0|Finale a local Fr...|     0|w2SrX4cPZqykJ5P7U...|4903 State Rd 54|{NULL, NULL, u'no...|Seafood, Restaura...|New Port Richey|{11:0-22:0, 0:0-0...|      1|28.2172884|-82.7333444|Frankie's Raw Bar|      34652|          24|           4.5|   FL|
|---kPU91CF4Lq2-Wl...|   0|2021-11-24 16:27:56|    0|38jzE6n8lbnvSM7p6...|         5.0|EVERYTHING we had...|     0|7F5NSUrKYEPdrewd2...|4903 State Rd 54|{NULL, NULL, u'no...|Seafood, Restaura...|New Port Richey|{11:0-22:0, 0:0-0...|      1|28.2172884|-82.7333444|Frankie's Raw Bar|      34652|          24|           4.5|   FL|
+--------------------+----+-------------------+-----+--------------------+------------+--------------------+------+--------------------+----------------+--------------------+--------------------+---------------+--------------------+-------+----------+-----------+-----------------+-----------+------------+--------------+-----+
only showing top 10 rows

In [ ]:
df_restaurants.select('date','text','review_stars','city','state').show(5)

+-------------------+--------------------+------------+------------+-----+
|               date|                text|review_stars|        city|state|
+-------------------+--------------------+------------+------------+-----+
|2018-07-07 22:09:11|If you decide to ...|         3.0| North Wales|   PA|
|2014-02-05 20:30:30|Family diner. Had...|         3.0|      Tucson|   AZ|
|2015-01-04 00:01:03|Wow!  Yummy, diff...|         5.0|Philadelphia|   PA|
|2017-01-14 20:54:15|Cute interior and...|         4.0| New Orleans|   LA|
|2015-09-23 23:10:31|I am a long term ...|         1.0|Philadelphia|   PA|
+-------------------+--------------------+------------+------------+-----+
only showing top 5 rows

In [ ]:
df_restaurants.select('text').count()

4724684

In [ ]:
df_labeled = df_restaurants.withColumn(
    "sentiment",
    when(col("review_stars") <= 2, 0)  # Negative
    .when(col("review_stars") == 3, 1) # Neutral
    .when(col("review_stars") >= 4, 2) # Positive
).withColumn(
    "sentiment_label",
    when(col("review_stars") <= 2, "Negative")
    .when(col("review_stars") == 3, "Neutral")
    .when(col("review_stars") >= 4, "Positive")
)

# Show sample
df_labeled.select("text", "review_stars", "sentiment", "sentiment_label").show(10, truncate=50)

+--------------------------------------------------+------------+---------+---------------+
|                                              text|review_stars|sentiment|sentiment_label|
+--------------------------------------------------+------------+---------+---------------+
|If you decide to eat here, just be aware it is ...|         3.0|        1|        Neutral|
|Family diner. Had the buffet. Eclectic assortme...|         3.0|        1|        Neutral|
|Wow!  Yummy, different,  delicious.   Our favor...|         5.0|        2|       Positive|
|Cute interior and owner (?) gave us tour of upc...|         4.0|        2|       Positive|
|I am a long term frequent customer of this esta...|         1.0|        0|       Negative|
|Amazingly amazing wings and homemade bleu chees...|         5.0|        2|       Positive|
|Had a party of 6 here for hibachi. Our waitress...|         3.0|        1|        Neutral|
|Locals recommended Milktooth, and it's an amazi...|         4.0|        2|       Positive|
|Love going here for happy hour or dinner!  Grea...|         4.0|        2|       Positive|
|Good food--loved the gnocchi with marinara\nthe...|         4.0|        2|       Positive|
+--------------------------------------------------+------------+---------+---------------+
only showing top 10 rows

code cells ini memberikan label sentimen pada setiap review restoran berdasarkan rating-nya, review dengan 1–2 bintang diberi label Negative, 3 bintang sebagai Neutral, dan 4–5 bintang sebagai Positive, hasilnya ditambahkan sebagai nilai numerik dan label teks, lalu ditampilkan beberapa contohnya.

In [ ]:
df_labeled.select('date','text','city','state','review_stars','sentiment','sentiment_label').show(5)

+-------------------+--------------------+------------+-----+------------+---------+---------------+
|               date|                text|        city|state|review_stars|sentiment|sentiment_label|
+-------------------+--------------------+------------+-----+------------+---------+---------------+
|2018-07-07 22:09:11|If you decide to ...| North Wales|   PA|         3.0|        1|        Neutral|
|2014-02-05 20:30:30|Family diner. Had...|      Tucson|   AZ|         3.0|        1|        Neutral|
|2015-01-04 00:01:03|Wow!  Yummy, diff...|Philadelphia|   PA|         5.0|        2|       Positive|
|2017-01-14 20:54:15|Cute interior and...| New Orleans|   LA|         4.0|        2|       Positive|
|2015-09-23 23:10:31|I am a long term ...|Philadelphia|   PA|         1.0|        0|       Negative|
+-------------------+--------------------+------------+-----+------------+---------+---------------+
only showing top 5 rows

##SAVING DATASET

In [ ]:
df_labeled.select('date','text','city','state','review_stars','sentiment','sentiment_label').coalesce(1).write.parquet("restaurant_data_parquet",mode="overwrite")

code cells ini menyimpan data review restoran yang dipilih seperti tanggal, teks, kota, provinsi, rating, dan sentimen ke dalam satu file Parquet bernama "restaurant_data_parquet".

In [ ]:
df_labeled = spark.read.parquet("/content/drive/MyDrive/restaurant_data_parquet/part-00000-39c7b949-dd62-4da8-9bcf-b26ce00f6ee5-c000.snappy.parquet")

In [ ]:
df_labeled.show(5)

+-------------------+--------------------+------------+-----+------------+---------+---------------+
|               date|                text|        city|state|review_stars|sentiment|sentiment_label|
+-------------------+--------------------+------------+-----+------------+---------+---------------+
|2018-07-07 22:09:11|If you decide to ...| North Wales|   PA|         3.0|        1|        Neutral|
|2014-02-05 20:30:30|Family diner. Had...|      Tucson|   AZ|         3.0|        1|        Neutral|
|2015-01-04 00:01:03|Wow!  Yummy, diff...|Philadelphia|   PA|         5.0|        2|       Positive|
|2017-01-14 20:54:15|Cute interior and...| New Orleans|   LA|         4.0|        2|       Positive|
|2015-09-23 23:10:31|I am a long term ...|Philadelphia|   PA|         1.0|        0|       Negative|
+-------------------+--------------------+------------+-----+------------+---------+---------------+
only showing top 5 rows

In [ ]:
df_state_counts = (
    df_labeled
    .groupBy("state", "sentiment_label")
    .count()
    .groupBy("state")
    .pivot("sentiment_label", ["Negative", "Positive", "Neutral"])
    .sum("count")
    .fillna(0)
)

df_state_counts = df_state_counts.withColumn(
    "total_reviews",
    F.col("Negative") + F.col("Positive") + F.col("Neutral")
)

df_state_counts.orderBy(F.desc("total_reviews")).show(20, truncate=False)

+-----+--------+--------+-------+-------------+
|state|Negative|Positive|Neutral|total_reviews|
+-----+--------+--------+-------+-------------+
|PA   |227705  |732388  |140183 |1100276      |
|FL   |162630  |546874  |82637  |792141       |
|LA   |98700   |396429  |63218  |558347       |
|TN   |89233   |296904  |48572  |434709       |
|MO   |73149   |239932  |41532  |354613       |
|IN   |65217   |232019  |38607  |335843       |
|AZ   |61095   |176073  |29920  |267088       |
|NV   |55555   |162523  |25571  |243649       |
|CA   |37587   |152257  |21904  |211748       |
|NJ   |42096   |109212  |19898  |171206       |
|ID   |22339   |67363   |10380  |100082       |
|AB   |14239   |44223   |10420  |68882        |
|DE   |12235   |30892   |6032   |49159        |
|IL   |9911    |22715   |4244   |36870        |
|NC   |24      |4       |1      |29           |
|HI   |7       |12      |0      |19           |
|CO   |0       |6       |6      |12           |
|MT   |0       |6       |0      |6            |
|XMS  |0       |4       |1      |5            |
+-----+--------+--------+-------+-------------+

Kode ini mengelompokkan review restoran berdasarkan state dan label sentimen, menghitung jumlahnya, lalu memutar tabel agar setiap sentimen menjadi kolom tersendiri (Negative, Positive, Neutral). Nilai kosong diganti dengan 0

## UNDERSAMPLING DATA

In [5]:
df_pa_balanced = spark.read.parquet('/content/drive/MyDrive/restaurant_data_parquet/part-00000-39c7b949-dd62-4da8-9bcf-b26ce00f6ee5-c000.snappy.parquet')

In [7]:
df_pa_balanced.groupBy("sentiment_label").count().show()

+---------------+-------+
|sentiment_label|  count|
+---------------+-------+
|        Neutral| 543126|
|       Positive|3209836|
|       Negative| 971722|
+---------------+-------+

In [8]:
df_pa_balanced.show(5)

+-------------------+--------------------+------------+-----+------------+---------+---------------+
|               date|                text|        city|state|review_stars|sentiment|sentiment_label|
+-------------------+--------------------+------------+-----+------------+---------+---------------+
|2018-07-07 22:09:11|If you decide to ...| North Wales|   PA|         3.0|        1|        Neutral|
|2014-02-05 20:30:30|Family diner. Had...|      Tucson|   AZ|         3.0|        1|        Neutral|
|2015-01-04 00:01:03|Wow!  Yummy, diff...|Philadelphia|   PA|         5.0|        2|       Positive|
|2017-01-14 20:54:15|Cute interior and...| New Orleans|   LA|         4.0|        2|       Positive|
|2015-09-23 23:10:31|I am a long term ...|Philadelphia|   PA|         1.0|        0|       Negative|
+-------------------+--------------------+------------+-----+------------+---------+---------------+
only showing top 5 rows

In [10]:
df_pa = df_pa_balanced.filter(col("state") == "PA")

In [11]:
def undersample(df: DataFrame, label_col: str, n: int) -> DataFrame:
    sampled_dfs = []
    for label in df.select(label_col).distinct().rdd.flatMap(lambda x: x).collect():
        sampled = df.filter(col(label_col) == label).sample(False, 1.0).limit(n)
        sampled_dfs.append(sampled)
    return sampled_dfs[0].union(sampled_dfs[1]).union(sampled_dfs[2])

df_pa_balanced = undersample(df_pa, "sentiment_label", 20000)

In [12]:
df_pa_balanced.groupBy("sentiment_label").count().show()

+---------------+-----+
|sentiment_label|count|
+---------------+-----+
|        Neutral|20000|
|       Positive|20000|
|       Negative|20000|
+---------------+-----+

In [13]:
df_pa_balanced.show(5)

+-------------------+--------------------+------------+-----+------------+---------+---------------+
|               date|                text|        city|state|review_stars|sentiment|sentiment_label|
+-------------------+--------------------+------------+-----+------------+---------+---------------+
|2018-07-07 22:09:11|If you decide to ...| North Wales|   PA|         3.0|        1|        Neutral|
|2013-10-03 16:24:30|A couple friends ...|Philadelphia|   PA|         3.0|        1|        Neutral|
|2017-08-08 01:37:37|Sometimes this fo...|West Chester|   PA|         3.0|        1|        Neutral|
|2014-07-13 18:28:58|After trying a fe...|Philadelphia|   PA|         3.0|        1|        Neutral|
|2016-01-30 15:10:41|Great food. Terri...|    Broomall|   PA|         3.0|        1|        Neutral|
+-------------------+--------------------+------------+-----+------------+---------+---------------+
only showing top 5 rows

In [ ]:
df_pa_balanced.select('text','sentiment').coalesce(1).write.parquet("restaurant_data_pa",mode="overwrite")

##DATA SIAP TRAINING

In [ ]:
df_svm_unclean = df_pa_balanced.withColumn(
    "clean_text",
    lower(regexp_replace(col("text"), r"[^a-zA-Z\s]", ""))
)

code cells ini membersihkan data teks dengan menghapus semua karakter selain huruf (seperti angka dan tanda baca) serta mengubah seluruh teks menjadi huruf kecil. Hasilnya disimpan pada kolom baru bernama clean_text yang akan digunakan untuk training model SVM

In [ ]:
df_svm_unclean.show(5)

+-------------------+--------------------+------------+-----+------------+---------+---------------+--------------------+
|               date|                text|        city|state|review_stars|sentiment|sentiment_label|          clean_text|
+-------------------+--------------------+------------+-----+------------+---------+---------------+--------------------+
|2018-07-07 22:09:11|If you decide to ...| North Wales|   PA|         3.0|        1|        Neutral|if you decide to ...|
|2014-02-05 20:30:30|Family diner. Had...|      Tucson|   AZ|         3.0|        1|        Neutral|family diner had ...|
|2015-01-04 00:01:03|Wow!  Yummy, diff...|Philadelphia|   PA|         5.0|        2|       Positive|wow  yummy differ...|
|2017-01-14 20:54:15|Cute interior and...| New Orleans|   LA|         4.0|        2|       Positive|cute interior and...|
|2015-09-23 23:10:31|I am a long term ...|Philadelphia|   PA|         1.0|        0|       Negative|i am a long term ...|
+-------------------+--------------------+------------+-----+------------+---------+---------------+--------------------+
only showing top 5 rows

In [ ]:
df_svm = df_svm_unclean.select('clean_text','sentiment')

In [ ]:
df_svm.show(5)

+--------------------+---------+
|          clean_text|sentiment|
+--------------------+---------+
|if you decide to ...|        1|
|family diner had ...|        1|
|wow  yummy differ...|        2|
|cute interior and...|        2|
|i am a long term ...|        0|
+--------------------+---------+
only showing top 5 rows

In [ ]:
df_svm.coalesce(1).write.parquet("svm_data_pa",mode="overwrite")

In [ ]:
df_bert = df_pa_balanced.select('text','sentiment')

In [ ]:
df_bert.show(5)

+--------------------+---------+
|                text|sentiment|
+--------------------+---------+
|If you decide to ...|        1|
|Family diner. Had...|        1|
|Wow!  Yummy, diff...|        2|
|Cute interior and...|        2|
|I am a long term ...|        0|
+--------------------+---------+
only showing top 5 rows

In [ ]:
df_bert.coalesce(1).write.parquet("bert_data_pa",mode="overwrite")